<ion-header>
  <ion-toolbar color="tertiary">
    <!-- <ion-buttons slot="start">
            <ion-button slot="icon">
                <ion-icon name="menu"></ion-icon>
            </ion-button>
        </ion-buttons> -->
    <ion-title> Quelle entreprise ? </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <app-add-sub-block></app-add-sub-block> -->


  <!-- <ion-card color="danger" *ngIf="!(user?.adjs && user?.adjs.length > 0)">
    <ion-card-header>
      <ion-card-title>Besoin de compléter vos qualités</ion-card-title>
      <ion-card-subtitle>N'oubliez pas de choisir trois qualités. Le champ à compléter se trouve en-dessous du champ
        e-mail. </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <a routerLink='../tab1' style='color:white'>Retournez dans l'onglet Mes Infos</a>

    </ion-card-content>
  </ion-card> -->

  <div class="ion-padding">
    <form [formGroup]="form" *ngIf="user" (ngSubmit)="saveInfos()">
      <!-- prenom -->
      <ion-item>
        <ion-label position="floating">Intitulé du poste (requis)</ion-label>
        <ion-input formControlName="intitule"></ion-input>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-label>Votre expérience</ion-label>
          <ion-select formControlName="experience" placeholder="Niveau d'expérience pour ce poste">
            <ion-select-option value="debutant">Débutant</ion-select-option>
            <ion-select-option value="expert">Déjà exercé un poste similaire</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-label position="floating">Société (requis)</ion-label>
        <ion-input formControlName="societe"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nom du contact avec civilité</ion-label>
        <ion-label style="font-style: italic" position="floating">Laisser vide si pas de nom disponible</ion-label>

        <ion-input formControlName="contact" placeholder="Madame Durand"></ion-input>
      </ion-item>




      <ion-item>
        <ion-label position="floating">Adresse (requis)</ion-label>
        <ion-input formControlName="adresseSociete"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Code Postal et Ville (requis)</ion-label>
        <ion-input formControlName="cpVille"></ion-input>
      </ion-item>

      <ion-button [color]="colorBtn" expand="block" type="submit" [disabled]="form.invalid" id='btn'>{{textBtn}}
      </ion-button>
    </form>
  </div>
</ion-content>

<ion-fab slot="fixed" horizontal="end" vertical="bottom">
  <ion-fab-button (click)="scrollToSection()">
    <ion-icon name="chevron-down-circle-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-footer>
  <ion-toolbar>
    <!-- <ion-button expand="block" (click)='onSaved()'>AJOUTER A L'HISTORIQUE</ion-button> -->
  </ion-toolbar>
</ion-footer>
