<ion-header>
    <ion-toolbar color="shade">
        <ion-buttons slot="start">
            <ion-button slot="icon">
                <ion-icon name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Créer une candidature
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>


    <ion-accordion-group>
        <ion-accordion value="first">
            <ion-item slot="header" color="light">
                <ion-label>Remplir les informations de la société</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
                <form [formGroup]='formEssai' *ngIf='user' (ngSubmit)='saveInfos()'>
                    <!-- prenom -->
                    <ion-item>
                        <ion-label position="floating">Intitulé du poste</ion-label>
                        <ion-input required formControlName='intitule'></ion-input>
                    </ion-item>
                    <ion-list>
                        <ion-item>
                            <ion-select formControlName='experience' placeholder="Niveau d'expérience pour ce poste">
                                <ion-select-option value="debutant">Débutant</ion-select-option>
                                <ion-select-option value="expert">Déjà exercé un poste similaire</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-list>
                    <ion-item>
                        <ion-label position="floating">Société</ion-label>
                        <ion-input required formControlName='societe'></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Nom du contact</ion-label>
                        <ion-input required formControlName='contact'></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Adresse</ion-label>
                        <ion-input required formControlName='adresseSociete'></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Code Postal et Ville</ion-label>
                        <ion-input required formControlName='cpVille'></ion-input>
                    </ion-item>

                    <ion-button expand="block" type="submit">Enregistrer</ion-button>

                </form>
            </div>
        </ion-accordion>
        <ion-accordion value="second">
            <ion-item slot="header" color="light">
                <ion-label>Choisir le modèle</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
                <!-- lettre 1 -->
                <ion-card class="ion-no-padding">
                    <ion-row class="ion-align-items-center">
                        <ion-col size="8" class="ion-padding">
                            <ion-row>
                                <ion-col class="bold">
                                    <h5 class="ion-no-margin">Modèle 1</h5>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="address-text">
                                    {{user?.adresse}}
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="bold">
                                    <h5 class="ion-no-margin"></h5>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="address-text">

                                </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col size="4">
                            <ion-button (click)="openModal()">
                                Choisir
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-card>

                <!-- lettre 2 -->
                <ion-card class="ion-no-padding">

                    <ion-row class="ion-align-items-center">
                        <ion-col size="8" class="ion-padding">
                            <ion-row>
                                <ion-col class="bold">
                                    <h5 class="ion-no-margin">Modèle 2</h5>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="address-text">
                                    {{user?.adresse}}
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="bold">
                                    <h5 class="ion-no-margin"></h5>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="address-text">

                                </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col size="4">
                            <ion-button (click)="openModalSimple()">
                                Choisir
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-card>

                <!-- lettre 3 -->
                <ion-card class="ion-no-padding">

                    <ion-row class="ion-align-items-center">
                        <ion-col size="8" class="ion-padding">
                            <ion-row>
                                <ion-col class="bold">
                                    <h5 class="ion-no-margin">Modèle 3</h5>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="address-text">
                                    {{user?.adresse}}
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="bold">
                                    <h5 class="ion-no-margin"></h5>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="address-text">

                                </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col size="4">
                            <ion-button (click)="openModalLetterC()">
                                Choisir
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-card>

            </div>
        </ion-accordion>
        <ion-accordion value="third">
            <ion-item slot="header" color="light">
                <ion-label>Choisir le contenu</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
                Choisir le contenu
            </div>
        </ion-accordion>
    </ion-accordion-group>

    <ion-button (click)='onSaved()'>AJOUTER A L'HISTORIQUE</ion-button>








</ion-content>
