ion-label.sc-ion-label-md-h.sc-ion-label-md-s.md.in-item-color.hydrated {
  padding: 2rem 0rem;

}
ion-label{
  overflow: hidden!important;
    white-space: normal!important;
    text-overflow: ellipsis!important;
    line-height: 3rem;
}
.ion-color-light{
  --ion-color-base: #ababab !important;
}
ion-select{
  white-space: break-spaces;
}

.inactive-part {
  opacity: 0.5;
  /* Réduit l'opacité pour rendre l'élément gris et atténuer son apparence */
  pointer-events: none;
  /* Désactive les interactions de pointer (clics, survols, etc.) avec l'élément */
}
