<ion-menu contentId="main-content" side='end'>
  <ion-header>
    <ion-toolbar>
      <ion-title>Mon Profil</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button color="success" expand="block" (click)='onDashboard()'>Mes Candidatures</ion-button>
    <ion-button color="warning" expand="block" (click)='onLogout()'>Me déconnecter</ion-button>


    <ion-button color="danger" id="open-modal" expand="block">Supprimer mon compte</ion-button>

    <ion-modal trigger="open-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Annuler</ion-button>
            </ion-buttons>
            <ion-title>Supprimer</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="confirm()" [strong]="true">Confirmer</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-item>
            <ion-label position="stacked">écrivez EFFACER</ion-label>
            <ion-input type="text" placeholder="EFFACER" [(ngModel)]="confirmMessage"></ion-input>
          </ion-item>
          <ion-item *ngIf='erreurCopy'>
            <ion-label class='error'>{{erreurCopy}}</ion-label>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-modal>



  </ion-content>
</ion-menu>


<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Vos infos
      </ion-title>


    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mes infos</ion-title>
    </ion-toolbar>
  </ion-header> -->

    <!-- Vérifier le token -->
    <!--  -->

    <!-- <ion-list>
      <div *ngFor='let offeringGroup of offerings | async'>
        <ion-item-divider>
          <ion-label>{{offeringGroup.offeringId}}</ion-label>
        </ion-item-divider>

        <ion-item *ngFor='let sku of offeringGroup.skus'>
          <ion-label>
            {{sku.product.title}}
          </ion-label>
          <ion-button slot='end' (click)='onPurchase(sku)'>
            {{sku.product.price | currency: sku.product.currencyCode}}
          </ion-button>
        </ion-item>
      </div>
    </ion-list> -->
    <!-- <app-add-sub-block></app-add-sub-block> -->


    <!-- <ion-card *ngIf='(purchaseState| async).pro'>Vous avez souscrit à la version premium</ion-card>
    <ion-card *ngIf='!(purchaseState| async).pro'>Vous utilisez la version gratuite de MotivPro</ion-card> -->


    <app-form [user]='user' *ngIf='user'></app-form>



    <!-- <div *ngIf='!user'>pas de user</div> -->



  </ion-content>
</div>
