<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-button slot="icon">

        <!-- <ion-icon name="menu"></ion-icon> -->
      </ion-button>
    </ion-buttons>
    <ion-title>
      Mes infos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mes infos</ion-title>
    </ion-toolbar>
  </ion-header> -->


    <app-form [user]='user'></app-form>


</ion-content>
