.small-warning{
  font-size: 0.7rem;
  font-weight: 800;
  text-align: justify;
  padding: 0.5rem;
  font-style: italic;
}
.item.sc-ion-label-ios-h,
.item .sc-ion-label-ios-h{
  white-space: pre-wrap!important;
}
.item.sc-ion-label-md-h,
.item .sc-ion-label-md-h {
  white-space: pre-wrap !important;
}
