<ion-header>
  <ion-toolbar color="shade">
    <ion-buttons slot="start">
      <ion-buttons (click)="closeModal()" slot="start">
        <ion-icon class="icon" name="arrow-back-outline"></ion-icon>
      </ion-buttons>
    </ion-buttons>
    <ion-title class="title-ios ion-text-capitalize">Prévisualiser</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



    <div style='background-color: rgb(129, 129, 138); height: 100%;text-align: center;'>

      <div id='content'>
        <img src="data:application/pdf;base64,{{base64}}" class='pdfEmbed'>
      </div>


    </div>
</ion-content>

<ion-footer (click)="downloadLetter()">
  <ion-toolbar color="success" class="ion-padding-horizontal">
    <div class="ion-text-center">
      <h4 class="ion-no-margin">Télécharger la lettre</h4>
    </div>
  </ion-toolbar>
</ion-footer>


<!-- modifier pdfEmbed pour visualiser en plus petit -->
