<ion-header>
  <ion-toolbar color='tertiary'>
    <ion-title>Création de compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content>

    <form [formGroup]="form">

      <!-- email -->
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type='email' formControlName='email'></ion-input>
        <div class="error" *ngIf="form.controls['email'].invalid && form.controls['email'].touched">E-mail invalide</div>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input required type='password' formControlName='pwd'></ion-input>
        <div class="error" *ngIf="form.controls['pwd'].invalid && form.controls['pwd'].touched">Le mot de passe doit contenir au moins 7 caractères </div>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirmation mot de passe</ion-label>
        <ion-input required type='password' formControlName='pwdConfirm'></ion-input>
        <div class="error" *ngIf="form.controls['pwdConfirm'].invalid && form.controls['pwdConfirm'].touched">Le mot de passe doit contenir au moins 7 caractères </div>
      </ion-item>
        <!--Ajouter message d'erreur-->
        <div class="error" *ngIf="form.errors?.verifyPassword">
          Les mots de passe doivent être identiques
        </div>
                <div class='error' *ngIf="form.errors?.improperLength">
                  Tous les champs doivent être renseignés.
                </div>
      <div *ngIf='errorPwd' class='error'>{{errorPwd}}</div>


      <ion-button [disabled]='form.invalid' expand="full" color='success' (click)="onSubmit()">Créer un compte
      </ion-button>

    </form>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Déjà un compte ?</ion-card-title>
        <ion-card-subtitle>identifiez-vous</ion-card-subtitle>
        <ion-button color='tertiary' [routerLink]="['/login']">Je m'identifie</ion-button>
      </ion-card-header>


    </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>Mot de passe oublié ?</ion-card-title>
            <ion-card-subtitle>identifiez-vous</ion-card-subtitle>
            <ion-button color='tertiary' [routerLink]="['/forgot-password']">Je réinitialise</ion-button>
          </ion-card-header>


        </ion-card>

  </ion-content>


</ion-content>
