<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Mot de passe oublié</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]='form' (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input
    formControlName='email'
    name="email"
    type='email'>
  </ion-input>
    <div class="error" *ngIf="form.controls['email'].invalid && form.controls['email'].touched">E-mail invalide</div>
  </ion-item>
  <div class='error' *ngIf='errorMessage'>{{errorMessage}}</div>
  <div class='success' *ngIf='resetSuccess'>{{resetSuccess}}</div>

    <ion-button expand='full' color='warning' type='submit'>Recevoir un e-mail pour réinitialiser le mot de passe</ion-button>
  </form>

        <ion-card>
          <ion-card-header>
            <ion-card-title>Retour à l'accueil</ion-card-title>
            <ion-card-subtitle>Identifiez-vous</ion-card-subtitle>
            <ion-button color='tertiary' [routerLink]="['/login']">Je m'identifie</ion-button>
          </ion-card-header>


        </ion-card>
</ion-content>
